<?xml version="1.0" encoding="utf-8"?>
<!-- Config -->
<!-- Author: user -->
<!-- DateCreated: 2/9/2018 3:28:10 PM -->
<GameInfo>

	<!-- Base Game -->
	<Players>
											<Row CivilizationType="CIVILIZATION_CHINA" LeaderType="LEADER_GEDEMO_WUZETIAN" Portrait="LEADER_WUZETIAN_NEUTRAL.dds"  CivilizationName="LOC_CIVILIZATION_CHINA_NAME" CivilizationIcon="ICON_CIVILIZATION_CHINA" LeaderName="LOC_LEADER_GEDEMO_WUZETIAN" LeaderIcon="ICON_LEADER_GEDEMO_WUZETIAN" CivilizationAbilityName="LOC_TRAIT_CIVILIZATION_DYNASTIC_CYCLE_NAME" CivilizationAbilityDescription="LOC_TRAIT_CIVILIZATION_DYNASTIC_CYCLE_DESCRIPTION" CivilizationAbilityIcon="ICON_CIVILIZATION_CHINA" LeaderAbilityName="LOC_TRAIT_LEADER_GEDEMO_WUZETIAN_NAME" LeaderAbilityDescription="LOC_TRAIT_LEADER_GEDEMO_WUZETIAN_DESCRIPTION" LeaderAbilityIcon="ICON_LEADER_GEDEMO_WUZETIAN" PortraitBackground="LEADER_T_ROOSEVELT_BACKGROUND"/>

		<!-- Expansion 1 Support -->
		<Row Domain="Players:Expansion1_Players" CivilizationType="CIVILIZATION_CHINA" LeaderType="LEADER_GEDEMO_WUZETIAN" Portrait="LEADER_WUZETIAN_NEUTRAL.dds" CivilizationName="LOC_CIVILIZATION_CHINA_NAME" CivilizationIcon="ICON_CIVILIZATION_CHINA" LeaderName="LOC_LEADER_GEDEMO_WUZETIAN" LeaderIcon="ICON_LEADER_GEDEMO_WUZETIAN" CivilizationAbilityName="LOC_TRAIT_CIVILIZATION_DYNASTIC_CYCLE_NAME" CivilizationAbilityDescription="LOC_TRAIT_CIVILIZATION_DYNASTIC_CYCLE_EXPANSION1_DESCRIPTION" CivilizationAbilityIcon="ICON_CIVILIZATION_CHINA" LeaderAbilityName="LOC_TRAIT_LEADER_GEDEMO_WUZETIAN_NAME" LeaderAbilityDescription="LOC_TRAIT_LEADER_GEDEMO_WUZETIAN_DESCRIPTION" LeaderAbilityIcon="ICON_LEADER_GEDEMO_WUZETIAN" PortraitBackground="LEADER_T_ROOSEVELT_BACKGROUND"/>

		<!-- Expansion 2 Support -->
		<Row Domain="Players:Expansion2_Players" CivilizationType="CIVILIZATION_CHINA" LeaderType="LEADER_GEDEMO_WUZETIAN" Portrait="LEADER_WUZETIAN_NEUTRAL.dds" CivilizationName="LOC_CIVILIZATION_CHINA_NAME" CivilizationIcon="ICON_CIVILIZATION_CHINA" LeaderName="LOC_LEADER_GEDEMO_WUZETIAN" LeaderIcon="ICON_LEADER_GEDEMO_WUZETIAN" CivilizationAbilityName="LOC_TRAIT_CIVILIZATION_DYNASTIC_CYCLE_NAME" CivilizationAbilityDescription="LOC_TRAIT_CIVILIZATION_DYNASTIC_CYCLE_EXPANSION2_DESCRIPTION" CivilizationAbilityIcon="ICON_CIVILIZATION_CHINA" LeaderAbilityName="LOC_TRAIT_LEADER_GEDEMO_WUZETIAN_NAME" LeaderAbilityDescription="LOC_TRAIT_LEADER_GEDEMO_WUZETIAN_DESCRIPTION" LeaderAbilityIcon="ICON_LEADER_GEDEMO_WUZETIAN" PortraitBackground="LEADER_T_ROOSEVELT_BACKGROUND"/>
	</Players>

	


	<PlayerItems>
		<Row CivilizationType="CIVILIZATION_CHINA" LeaderType="LEADER_GEDEMO_WUZETIAN" Type="UNIT_CHINESE_CROUCHING_TIGER" Icon="ICON_UNIT_CHINESE_CROUCHING_TIGER" Name="LOC_UNIT_CHINESE_CROUCHING_TIGER_NAME" Description="LOC_UNIT_CHINESE_CROUCHING_TIGER_DESCRIPTION" SortIndex="20"/>
		<Row CivilizationType="CIVILIZATION_CHINA" LeaderType="LEADER_GEDEMO_WUZETIAN" Type="UNIT_GEDEMO_CHUKONU" Icon="ICON_UNIT_GEDEMO_CHUKONU" Name="LOC_UNIT_GEDEMO_CHUKONU_NAME" Description="LOC_UNIT_GEDEMO_CHUKONU_DESCRIPTION" SortIndex="20"/>
		<Row CivilizationType="CIVILIZATION_CHINA" LeaderType="LEADER_GEDEMO_WUZETIAN" Type="BUILDING_GEDEMO_PAPERMAKER" Icon="ICON_BUILDING_GEDEMO_PAPERMAKER" Name="LOC_BUILDING_GEDEMO_PAPERMAKER_NAME" Description="LOC_BUILDING_GEDEMO_PAPERMAKER_DESCRIPTION" SortIndex="20"/>
		<Row CivilizationType="CIVILIZATION_CHINA" LeaderType="LEADER_GEDEMO_WUZETIAN" Type="IMPROVEMENT_GREAT_WALL" Icon="ICON_IMPROVEMENT_GREAT_WALL" Name="LOC_IMPROVEMENT_GREAT_WALL_NAME" Description="LOC_IMPROVEMENT_GREAT_WALL_DESCRIPTION" SortIndex="30"/>
		

		<!-- Expansion 1 Support -->
		<Row Domain="Players:Expansion1_Players" CivilizationType="CIVILIZATION_CHINA" LeaderType="LEADER_GEDEMO_WUZETIAN" Type="UNIT_CHINESE_CROUCHING_TIGER" Icon="ICON_UNIT_CHINESE_CROUCHING_TIGER" Name="LOC_UNIT_CHINESE_CROUCHING_TIGER_NAME" Description="LOC_UNIT_CHINESE_CROUCHING_TIGER_DESCRIPTION" SortIndex="20"/>
		<Row Domain="Players:Expansion1_Players" CivilizationType="CIVILIZATION_CHINA" LeaderType="LEADER_GEDEMO_WUZETIAN" Type="UNIT_GEDEMO_CHUKONU" Icon="ICON_UNIT_GEDEMO_CHUKONU" Name="LOC_UNIT_GEDEMO_CHUKONU_NAME" Description="LOC_UNIT_GEDEMO_CHUKONU_DESCRIPTION" SortIndex="20"/>
		<Row Domain="Players:Expansion1_Players" CivilizationType="CIVILIZATION_CHINA" LeaderType="LEADER_GEDEMO_WUZETIAN" Type="BUILDING_GEDEMO_PAPERMAKER" Icon="ICON_BUILDING_GEDEMO_PAPERMAKER" Name="LOC_BUILDING_GEDEMO_PAPERMAKER_NAME" Description="LOC_BUILDING_GEDEMO_PAPERMAKER_DESCRIPTION" SortIndex="20"/>
		<Row Domain="Players:Expansion1_Players" CivilizationType="CIVILIZATION_CHINA" LeaderType="LEADER_GEDEMO_WUZETIAN" Type="IMPROVEMENT_GREAT_WALL" Icon="ICON_IMPROVEMENT_GREAT_WALL" Name="LOC_IMPROVEMENT_GREAT_WALL_NAME" Description="LOC_IMPROVEMENT_GREAT_WALL_DESCRIPTION" SortIndex="30"/>

		<!-- Expansion 2 Support -->
		<Row Domain="Players:Expansion2_Players" CivilizationType="CIVILIZATION_CHINA" LeaderType="LEADER_GEDEMO_WUZETIAN" Type="UNIT_CHINESE_CROUCHING_TIGER" Icon="ICON_UNIT_CHINESE_CROUCHING_TIGER" Name="LOC_UNIT_CHINESE_CROUCHING_TIGER_NAME" Description="LOC_UNIT_CHINESE_CROUCHING_TIGER_DESCRIPTION" SortIndex="20"/>
		<Row Domain="Players:Expansion2_Players" CivilizationType="CIVILIZATION_CHINA" LeaderType="LEADER_GEDEMO_WUZETIAN" Type="UNIT_GEDEMO_CHUKONU" Icon="ICON_UNIT_GEDEMO_CHUKONU" Name="LOC_UNIT_GEDEMO_CHUKONU_NAME" Description="LOC_UNIT_GEDEMO_CHUKONU_DESCRIPTION" SortIndex="20"/>
		<Row Domain="Players:Expansion2_Players" CivilizationType="CIVILIZATION_CHINA" LeaderType="LEADER_GEDEMO_WUZETIAN" Type="BUILDING_GEDEMO_PAPERMAKER" Icon="ICON_BUILDING_GEDEMO_PAPERMAKER" Name="LOC_BUILDING_GEDEMO_PAPERMAKER_NAME" Description="LOC_BUILDING_GEDEMO_PAPERMAKER_DESCRIPTION" SortIndex="20"/>
		<Row Domain="Players:Expansion2_Players" CivilizationType="CIVILIZATION_CHINA" LeaderType="LEADER_GEDEMO_WUZETIAN" Type="IMPROVEMENT_GREAT_WALL" Icon="ICON_IMPROVEMENT_GREAT_WALL" Name="LOC_IMPROVEMENT_GREAT_WALL_NAME" Description="LOC_IMPROVEMENT_GREAT_WALL_EXPANSION2_DESCRIPTION" SortIndex="30"/>
		
	</PlayerItems>

	
	
	
	
</GameInfo>
